:is(h1, h2, h3, h4, h5, h6, p, body, pre) {
  font-family: Palatino, "Palatino Linotype", serif, "Lucida Bright", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Helvetica Neue,
    Helvetica, Arial, sans-serif;
}

body {
  background-color: white;
}

.logo {
 color: black;
}

.taglist{
  color: black;
}

   .navigation-item {
    font-family: Palatino, "Palatino Linotype", "Lucida Bright", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Helvetica Neue,
    Helvetica, Arial, sans-serif;
   }


h5 {
  font-size: 20px;
}

.posts {
  text-align: justify;
  width: 300px;
  color: #1567C0;
}


.dates {
  text-align: justify;
  width: 300px;
  color: black;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.blogpost {
  text-align: justify;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: -50px;
  margin-left: -50px;
}


.standardpage {
  text-align: justify;
  position: relative;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

.filter {
  text-align: justify;
  width: 300px;
  color: gray;
}

.column {
  float: left;
  width: 45%;
}

.columnrx {
  float: right;
  width: 45%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* This is a single-line comment 
a {
  position: relative;
  transition: 0.5s;
}
a:before,
a:after {
  position: absolute;
  bottom: -2px;
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  background: #1d1c1c5e;
  transition: 0.5s;
}
a:before {
  left: 50%;
}
a:after {
  right: 50%;
}
a:hover {
  text-decoration: none;
}
a:hover:before,
a:hover:after {
  width: 50%;
}
*/

a:link {
  text-decoration: none;
}

p {
  font-size: 18px;
}

#one{
  font-weight: bold;
}

#two{
  font-size: 16px;
  font-weight: normal;
}

li {
  font-size: 14px;
}

ul {
  font-size: 14px;
}

/* Color of menus buttons */

p a {
  color: #1567C0;
}

span a {
  color: gray;
}

/* Split the screen in half */

.centeredbrodx {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centeredbrosx {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
