:is(h1, h2, h3, h4, h5, h6, p, body, pre) {
  font-family: 'Lora', serif, "Lucida Bright", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  background-color: white;
}

.logo {
 color: black;
}

.taglist{
  color: black;
}

   .navigation-item {
    font-family: 'Montserrat', Palatino, "Palatino Linotype", "Lucida Bright", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Helvetica Neue,
    Helvetica, Arial, sans-serif;
   }


h5 {
  font-size: 20px;
}

.posts {
  text-align: justify;
  width: 300px;
  color: #1567C0;
}


.dates {
  text-align: justify;
  width: 300px;
  color: black;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.blogpost {
  text-align: justify;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: -50px;
  margin-left: -50px;
}


.standardpage {
  text-align: justify;
  position: relative;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

.filter {
  text-align: justify;
  width: 300px;
  color: gray;
}

.column {
  float: left;
  width: 45%;
}

.columnrx {
  float: right;
  width: 45%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* This is a single-line comment 
a {
  position: relative;
  transition: 0.5s;
}
a:before,
a:after {
  position: absolute;
  bottom: -2px;
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  background: #1d1c1c5e;
  transition: 0.5s;
}
a:before {
  left: 50%;
}
a:after {
  right: 50%;
}
a:hover {
  text-decoration: none;
}
a:hover:before,
a:hover:after {
  width: 50%;
}
*/

a:link {
  text-decoration: none;
}

p {
  font-size: 18px;
}

#one{
  font-weight: bold;
}

#two{
  font-size: 16px;
  font-weight: normal;
}

figcaption {
  color: gray;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

li {
  font-size: 14px;
}

ul {
  font-size: 14px;
}

/* Color of menus buttons */

p a {
  color: #1567C0;
}

span a {
  color: gray;
}

/* Split the screen in half */

.centeredbrodx {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centeredbrosx {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  text-align: center;
  width: 47%;
  margin-right: 1%;
  margin-left: 1%;
}

@media screen and (max-width: 600px) {

  .row {
    width: 100%;
  }

  .column {
    width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
    width: auto;
  }

  .container {
    width: 100%;
  }
}

/* NAVIGATION */

.navigation {
  height: 6rem;
  width: 100%;
}
.navigation a,
.navigation span {
  display: inline;
  font-size: 1.7rem;
  font-family: 'Lora', lucida bright, BlinkMacSystemFont, segoe ui, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, helvetica neue, Helvetica, pingfang sc, STXihei, 华文细黑,
    microsoft yahei, 微软雅黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
  font-weight: 600;
  line-height: 6rem;
  color: #212121;
}
.navigation a:hover,
.navigation a:focus {
  color: #1567c0;
}
.navigation .navigation-title {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: 'Lora', lucida bright, lucida sans regular, lucida grande,
    lucida sans unicode, Geneva, Verdana, sans-serif, Helvetica Neue, Helvetica,
    Arial, sans-serif;
}
.navigation .navigation-list {
  float: right;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
}
@media only screen and (max-width: 768px) {
  .navigation .navigation-list {
    position: absolute;
    top: 6rem;
    right: 0;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    max-height: 0;
    width: 100%;
    background-color: #fafafa;
    border-top: solid 2px #e0e0e0;
    border-bottom: solid 2px #e0e0e0;
    transition: opacity 0.25s, max-height 0.15s linear;
  }
}
.navigation .navigation-list .navigation-item {
  font-family: lucida bright, lucida sans regular, lucida grande,
    lucida sans unicode, Geneva, Verdana, sans-serif, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  float: left;
  margin: 0;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .navigation .navigation-list .navigation-item {
    float: none !important;
    text-align: center;
  }
  .navigation .navigation-list .navigation-item a,
  .navigation .navigation-list .navigation-item span {
    line-height: 5rem;
  }
}
.navigation .navigation-list .navigation-item a,
.navigation .navigation-list .navigation-item span {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media only screen and (max-width: 768px) {
  .navigation .navigation-list .separator {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .navigation .navigation-list .menu-separator {
    border-top: 2px solid #212121;
    margin: 0 8rem;
  }
  .navigation .navigation-list .menu-separator span {
    display: none;
  }
}
.navigation #dark-mode-toggle {
  margin: 1.7rem 0;
  font-size: 2.4rem;
  line-height: inherit;
  bottom: 2rem;
  left: 2rem;
  z-index: 100;
  position: fixed;
}
.navigation #menu-toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .navigation #menu-toggle:checked + label > i {
    color: #e0e0e0;
  }
  .navigation #menu-toggle:checked + label + ul {
    visibility: visible;
    opacity: 1;
    max-height: 100rem;
  }
}
.navigation .menu-button {
  display: none;
}
@media only screen and (max-width: 768px) {
  .navigation .menu-button {
    display: block;
    margin: 1.8rem 0;
    font-size: 2.4rem;
    font-weight: 400;
  }
}
.navigation .menu-button i:hover,
.navigation .menu-button i:focus {
  color: #000;
}
.navigation i {
  color: #212121;
  cursor: pointer;
}
.navigation i:hover,
.navigation i:focus {
  color: #1567c0;
}